﻿@model testProject.Models.ViewModels.ProductEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit @Model.product.ProductName</h2>


<form method="POST" action="/Product/Edit/@Model.product.ProductID">

      <!--Product Name-->
    <div>
        <label><b>Name:</b></label>
        <input type="text" value="@Model.product.ProductName" id="ProductName" name="ProductName" />
    </div>
    <br />
    <!--Category Name-->
    <div>
        <div><b>Category:</b></div>
        <select id="ProductCategory" name="ProductCategory">
            @foreach (var category in Model.categories)
            {
                string current = "";
                if (category.CategoryID == Model.product.category.CategoryID)
                {
                    current = "selected";
                }

                <option value="@category.CategoryID" @current>@category.CategoryName</option>
            }

        </select>
    </div>
    <br />

    <!--Product Price-->
    <div>
        <div><b>Price:</b></div>
        <input type="text" value="@Model.product.ProductPrice" id="ProductPrice" name="ProductPrice" />
    </div>
    <br />

    <!--Product Description-->
    <div>
        <div><b>Description:</b></div>
        <textarea id="ProductDescription" name="ProductDescription">@Model.product.ProductDescription</textarea>
    </div>
    <br />

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
