﻿@model IEnumerable<testProject.Models.Product>
@{
    ViewBag.Title = "List";
}

<h2>Products</h2>

<div>
    @Html.ActionLink("Add A Product", "New")
</div>
<br />
<br />
<div>
    @foreach (var Product in Model)
    {

        <div>

            <div>
                <label>@Html.ActionLink(Product.ProductName, "Show/" + Product.ProductID)</label>
                
                <p>@Product.ProductPrice</p>
                <p>@Product.ProductDescription</p>
                <span>
                    <a href="@Url.Action("Delete/"+Product.ProductID)">Delete</a>
                </span>
            </div>
            <br /><hr />
        </div>

    }
</div>