﻿@model IEnumerable<testProject.Models.Category>
@{
    ViewBag.Title = "New";
}

<h2>New Product</h2>

<!--Refernece: As per Christine's Code-->
<form method="POST" action="/Product/New">
    <!--Product Name-->
    <div>
        <label><b>Name:</b></label>
        <input id="ProductName_New" name="ProductName_New" />
    </div>
    <br />

    <!--Category Name-->
    <div>
        <label><b>Category Name:</b></label>
        <select id="ProductCategory_New" name="ProductCategory_New">
            @foreach (var category in Model)
            {
                <option value="@category.CategoryID">@category.CategoryName</option>
            }
        </select>
    </div>
    <br />

    <!--Price-->
    <div>
        <div><b>Price:</b></div>
        <input id="ProductPrice_New" name="ProductPrice_New" />
    </div>
    <br />

    <!--Product Description-->
    <div>
        <div><b>Description:</b></div>
        <textarea id="ProductDescription_New" name="ProductDescription_New"></textarea>
    </div>
    <br />

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>

