﻿@model testProject.Models.Product
@{
    ViewBag.Title = "Show";
}

<h2>Show @Model.ProductName</h2>
<br />
<br />

<p><b>Price:</b></p>
<p>@Model.ProductPrice</p>
<br />

<p><b>Description:</b></p>
<p>@Model.ProductDescription</p>
<br />

<div>

    @Html.ActionLink("Edit", "Edit/" + Model.ProductID)
</div>

<div>
    <a href="@Url.Action("Delete/"+Model.ProductID)">Delete</a>
</div>



