﻿@model testProject.Models.ViewModels.CategoryEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit @Model.category.CategoryName</h2>


<form method="POST" action="/Category/Edit/@Model.category.CategoryID">
    <div>
        <label>Name</label>
        <input type="text" value="@Model.category.CategoryName" id="CategoryName" name="CategoryName" />
    </div>
    <br />
    <div>
        <div><b>Description</b></div>
        <textarea id="CategoryDescription" name="CategoryDescription">@Model.category.CategoryDescription</textarea>
    </div>
    <br />
    <br />
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
