﻿@model IEnumerable<testProject.Models.Category>
@{
    ViewBag.Title = "List";
}

<h2>Category</h2>

<div>
    @Html.ActionLink("Add New Category", "New", "Category")
</div>
<br />
<br />
<div>
    @foreach (var category in Model)
    {
        <div>

            <div> <!--i was tryig to enter null value then it occured error then i figure it out from the given reference-->
                @if (!string.IsNullOrEmpty(category.CategoryName))
                {<!--I made changes bcoz of error which shows Null or Empty Value so, here Reference: https://www.codeproject.com/Questions/1201350/Value-cannot-be-null-or-empty-in-actionlink-->

                    <label>@Html.ActionLink(category.CategoryName, "Show/" + category.CategoryID)</label> }
                    <p>Total Products: @category.Products.Count()</p>
                    <p>@category.CategoryDescription</p>

                    <span>

                        @Html.ActionLink("Delete", "Delete/" + category.CategoryID)

                    </span>
                </div>
            <br />
            <hr />
        </div>

    }
</div>

