﻿@model testProject.Models.ViewModels.CategoryEdit
@{
    ViewBag.Title = "New";
}

<h2>New Category</h2>


<form method="POST" action="/Category/New">
    <br />
    <br />
    <div>
        <label>Name:</label>
        <input id="CategoryName_New" name="CategoryName_New" />
    </div>
    <br />

    <div>
        <label>Description:</label>
        <textarea id="CategoryDescription_New" name="CategoryDescription_New"></textarea>
    </div>
    <br />
    <br />
    <div>
        <input type="submit" value="Submit" />
    </div>


</form>
