﻿@model testProject.Models.Category
@{
    ViewBag.Title = "Show";
}

<h2>Show @Model.CategoryName</h2>
<br />
<br />
<p><b>Description:</b></p>
<p>@Model.CategoryDescription</p>
<br />
<br />

<!--For Edit Category-->
<div>

    @Html.ActionLink("Edit", "Edit/" + Model.CategoryID)
</div>

<!--For Delete Category-->

<div>

    @Html.ActionLink("Delete", "Delete/" + Model.CategoryID)

</div>

<!--List of Products-->

<h3>Products in this Category</h3>

<!--Add a New Product-->

<br />

@foreach (var product in Model.Products)
{
<b> <span>@Html.ActionLink(product.ProductName, "Show/" + product.ProductID, "Product")</span> </b><br />
}

<br />
<br />
<p>
    @Html.ActionLink("Add A Product", "New/", "Product")
</p>